<h3>{{viewTitle}}</h3>

<form action="/salle" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{salle._id}}">
    <div class="form-group">
        <label>Code</label>
        <input type="text" class="form-control" name="code" placeholder="code " value="{{salle.code}}">
        <div class="text-danger">
            {{salle.codeError}}</div>
    </div>
    <div class="form-group">
        <label>Libelle</label>
        <input type="text" class="form-control" name="libelle" placeholder="libelle" value="{{salle.libelle}}">
        <div class="text-danger">
            {{salle.libelleError}}</div>
    </div>
    <div class="form-group">
        <label for="bloc">Bloc : </label>
            <select  class="form-control"  id="bloc" name="bloc">
                {{#each blocs}}
            <option name={{this._id}} value={{this._id}}>{{this.code}}</option>
                {{/each}}
            </select>
    </div>
    

    <div class="form-group">
        <button type="submit" class="btn btn-primary"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-outline-dark" href="/salle/list"><i class="fa fa-list-alt"></i> Salle List</a>
        <a class="btn btn-outline-dark" href="/bloc/list"><i class="fa fa-list-alt"></i> Bloc List</a>
        
    </div>
</form>